.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Slightly darker overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
  backdrop-filter: blur(5px); /* Optional: blur effect for the background content */
}

.modal {
  background-color: #ffffff;
  padding: 30px; /* More padding for better spacing */
  border-radius: 15px; /* Rounder corners */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* Larger shadow for more depth */
  z-index: 1001; /* Above the overlay */
  max-width: 500px;
  width: 90%;
  animation: scaleUp 0.3s ease-out forwards; /* Animation for modal pop up effect */
}

@keyframes scaleUp {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.closeButton {
  float: right;
  border: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold; /* Make the close button bold */
  cursor: pointer;
  color: #707070; /* Changing the color to a dark gray */
}

/* Clear the float to ensure the modal scales properly */
.modal:after {
  content: "";
  display: block;
  clear: both;
}

/* Additional styles for modal content */
.modalContent {
  text-align: center;
  margin-top: 20px; /* Space between close button and content */
}
