.modalBackground {
  position: absolute;
  width: auto; /* Width can be set to auto or a fixed value */
  height: auto; /* Height can be set to auto or a fixed value */
  top: 100%; /* Position the modal right below the button */
  right: 0; /* Align the modal to the right side of the button */
  z-index: 1000; /* Ensure it's on top */
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    width: 30%; /* Adjust the width as needed */
    min-width: 300px; /* Minimum width */
    max-width: 600px; /* Maximum width */
    height: auto; /* Height will adjust to content */
    max-height: 80vh; /* Maximum height */
    overflow-y: auto; /* Scroll if content is too long */
    position: relative; /* For absolute positioning of the close button */
    z-index: 1001;
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    /* Additional styles for the close button */
  }
  