.admin-dashboard {
  background-color: #fff;
  color: #000;
  padding: 20px;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard {
  padding: 10px;
  text-align: center;
}

.checkboxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.checkboxLabel {
  margin-right: 10px; /* Space between the text and the checkbox */
}

.inputCheckbox {
  cursor: pointer;
  padding: 100px;
  width: 15px;
  height: 15px;
  border-radius: 5px;
}

.checkmark {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 4px;
  position: relative;
}

.inputCheckbox:checked + .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.inputCheckbox:checked + .checkmark:after {
  display: block;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.enableButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
